h1{
    text-align: center;
    color:rgb(182, 119, 17);
}

body{
    background-color: azure;
}
.column {
    float: left;
  }
  
.left {
    width: 45%;
  }
  
.right {
    width: 55%;
  }

th{
padding: 10px;
border: 1px solid black;
}

td{
padding: 10px;
border: 1px solid black
}

table{
border: 1px solid black;
padding: 5px;
}
